@import "tailwindcss";

@theme {
  --color-background: #faf6f1;
  --color-foreground: #3b2b22;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 22rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
